/* Empty. Add your own CSS if you like */
.error_msg{
	color: maroon;
    font-size: 11px;
    margin-left: 10px;
}

.success_msg{
	color: green;
    font-size: 11px;
    margin-left: 10px;
    font-weight:bold;
}