<div>
	<form data-ng-submit="userlogin(user)">
	<fieldset>
		<div class="col-10">  	
		  	<div class="field-group clear row"> 
		  		<div class="col-5 push-5">
		  			<h2 for="login">Welcome To App</h2>
		  		</div>
		  	</div>
		  	<div class="field-group clear row"> 
		  		<div class="col-5 push-5">
		  			<input type="text" class="field" id="text-input" placeholder="Enter Email Address" data-ng-model="user.user_email">
		  		</div>
		  	</div>
		  	<div class="field-group clear row"> 
		  		<div class="col-5 push-5">
		  			<input type="password" class="field" id="text-input" placeholder="Enter Password" data-ng-model="user.user_password">
		  		</div>
		  	</div>
		  	<div class="field-group clear row"> 
		  		<div class="col-5 push-5">
		  			<button class="field">LOGIN</button>
		  		</div>
		  	</div>
		</div>	
	</fieldset>
	</form>
</div>