<div class="comman_background">
<div class="container container_margin" data-ng-controller="usercontroller" data-ng-init="init()" >
<div class="col-12" class="comman_border">
	<div class="col-2" style="margin-bottom:30px;">
	</div>
	<div class="col-8">
		<div>
			<h1>Welcome {{ userSession.user_name }}</h1>
			<h2>Reminders List</h2>
			<div>
	        	<button ng-click="ShowHide()">ADD Reminder</button>
	      	</div>
	      	<div ng-show = "IsVisible">
				<form name="addreminderfrm" data-ng-submit="addUpdateTodos(data,addreminderfrm.$valid)" id="addreminderForm" novalidate>
					<label for="addtodos" ng-if="!stateParams"><h4>Add Reminder</h4></label>
					<label for="edittodos" ng-if="stateParams"><h4>Edit Reminder</h4></label>
						<input type="text" name="todos" data-ng-model="data.todo_data" placeholder="Enter Reminder" required><br><br>
						<span >
		            		<div data-ng-messages="addreminderfrm.$submitted && addreminderfrm.todos.$error" role="alert" class="error_msg">
			                  <div data-ng-message="required">Please Enter Reminder</div>
		            		</div>
          				</span>
						<button name="Add" type="submit" value="Addtodos" ng-if="stateParams == '' ">Add</button>
						<button name="Update" type="submit" value="updatetodos" ng-if="stateParams != '' ">Update</button>
				</form>
	      	</div>
	      		<div ng-model="Remindersuccessmsg" ng-show="showRemindersuccessmsg" class="success_msg">{{Remindersuccessmsg}}</div>
	      		<div ng-model="updateRemindermsg" ng-show="showupdateRemindermsg" class="success_msg">{{updateRemindermsg}}</div>

	      	<div>
				<table>
					<div ng-model="Reminderdelmsg" ng-show="showReminderdelmsg" class="success_msg">{{Reminderdelmsg}}</div>
					<caption>Reminder List</caption>
					<thead>
						<tr>
							<th>id</th>
							<th>Reminder</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="todo in todolist">
							<td>
								{{todo.todo_id}}
							</td>
							<td>
								{{todo.todo_data}}
							</td>
							<td>
								<button ui-sref="welcomepage({todo_id :todo.todo_id})" ng-click="ShowHide()">Edit</button>
								<button ng-click="deletetodo(todo)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
	      	</div>

		</div>	
	</div>
	<div class="col-2">
	</div>
</div>
</div>
</div>