<div class="comman_background">
<div class="container container_margin" data-ng-controller="usercontroller" data-ng-init="init()">
<div class="col-12" class="comman_border">
	<div class="col-2" style="margin-bottom:30px;">
	</div>
	<div class="col-8">
		<div>
			<h1>Welcome {{ userCookies.user_name }}</h1>
			<h2>Reminders List</h2>
			<div>
	        	<button ng-click="ShowHide()">ADD Reminder</button>
	      	</div>
	      	<div ng-show = "IsVisible">
				<form data-ng-submit="addUpdateTodos(data)">
					<label for="addtodos" ng-if="!stateParams"><h3>Add Reminder</h3></label>
					<label for="edittodos" ng-if="stateParams"><h3>Edit Reminder</h3></label>
						Please Enter Reminder:<br><br>
						<input type="text" name="todos" data-ng-model="data.todo_data"><br><br>
						<button name="Add" type="submit" value="Addtodos" ng-if="stateParams == '' ">Add</button>
						<button name="Update" type="submit" value="updatetodos" ng-if="stateParams != '' ">Update</button>
				</form>
	      	</div>
	      	<div>
				<!-- <ul ng-repeat="todo in todolist">
					<li>{{todo.todo_data}} <button ui-sref="welcomepage({todo_id :todo.todo_id})" ng-click="ShowHide()">Edit</button> <button ng-click="deletetodo(todo)">Delete</button></li>
				</ul> -->
				<table>
					<caption>Reminder List</caption>
					<thead>
						<tr>
							<th>id</th>
							<th>Reminder</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="todo in todolist">
							<td>
								{{todo.todo_id}}
							</td>
							<td>
								{{todo.todo_data}}
							</td>
							<td>
								<button ui-sref="welcomepage({todo_id :todo.todo_id})" ng-click="ShowHide()">Edit</button>
								<button ng-click="deletetodo(todo)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
	      	</div>

		</div>	
	</div>
	<div class="col-2">
	</div>
</div>
</div>
</div>